.contents__groups
  - current_user.groups.each do |group|
    .contents__groups__box
      = link_to group_messages_path(group) do
        %h3
          =group.name
        %p
          = group.show_last_message

