.contents__main__ajax__messagebox
  .user_name
    = message.user.name
  .date
    = message.created_at
  .message
    - if message.body.present?
      %p.message__body
        = message.body
    =image_tag message.image.url, class: "image" if message.image.present?
