%header.header
  .header__nameplate
    .header__announcement
    %ul
      %li.name name
      = link_to root_path do
        %i.fa.fa-cog
      = link_to root_path do
        %i.fa.fa-edit
  .header__groupplate
    .header__announcement
    %h2 group-name
    %form{action: "###", method: "###"}
      .header__groupplate__btn
        %input{type: "submit", class: "edit-btn", value: "Edit"}
    %p member : name
.contents
  =render "messages/group-plate"
  .contents__main
    =render "messages/message-plate"
    .contents__main__textbox
      %form{action: "###", method: "###"}
        .contents__main__textbox__cover
          %input{type: "text", placeholder: "  Type a messeage", class: "textbox", name: "message"}
          = button_tag(type: "file") do
            %i.fa.fa-image
        .contents__main__textbox__btn
          %input{type: "submit", value: "Send", class: "send--bottom"}





