%header.header
  .header__nameplate
    %h2 name
  .header__groupplate
    %h2 group-name
    %p member : name
.contents
  .contents__groups
    %h3 group-name1
    %p test, test
    %h3 group-name2
    %p sample,sample
  .contents__main
    %h3 name1
    %p date
    %p text,text,text
    %h3 name2
    %p date
    %p sample,sample,sample
    .contents__main__textbox
