html, body {
  height: 100%;
  margin: 0;
  padding: 0;

}

.header {
  height: 120px;
  width: 100%;
  position: fixed;
  z-index: 2;
    &__nameplate {
    height: 120px;
    width: 300px;
    background-color: #253141;
    float: left;
    position: absolute;
    ul {
      list-style: none;
      padding-left: 20px;
      padding-right: 20px;
      li.name {
        font-size: 16px;
        font-weight: bold;
        color: $white;
        margin-top: 50px;
        float: left;
      }
      i {
        color: $white;
        font-size: 16px;
        float: right;
        margin-top: 50px;
      }
      .fa-edit {
        margin-right: 10px;
      }
    }
  }
    &__groupplate {
    height: 100%;
    width: calc(100% - 300px);
    background-color: white;
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    h2 {
      font-size: 20px;
      color: #333333;
      padding-top: 35px;
      padding-bottom: 15px;
      padding-left: 40px;
      float: left;
    }
    &__btn {
      height: 35px;
      width: 65px;
      float: right;
      border: solid 1px $blue-bg;
      margin: 30px 40px 0 0;
      font-size: 18px;
      text-align: center;
      color: $blue-bg;
      padding-top: 5px;
    }
  }
  &__memberplate {
    position: absolute;
    left: 340px;
    bottom: 0;
    height: 20px;
    width: 100%;
    &__members {
      &__per {
        float: left;
        font-size: 12px;
        color: #999999;
        list-style: none;
        padding-right: 10px;
      }
    }
  }
}


.contents {
  height: calc(100% - 120px);
  width: 100%;
  padding-top: 120px;
  z-index: 1;
  &__groups {
    height: calc(100% - 120px);
    width: 300px;
    background-color: #2f3e51;
    float: left;
    position: fixed;
    left: 0;
    overflow-y: auto;
    bottom: 0;
    &__box {
      h3 {
        font-size: 15px;
        color: $white;
        padding-top: 20px;
        padding-bottom: 5px;
        padding-left: 20px;
      }
      p {
        font-size: 11px;
        color: $white;
        padding-bottom: 40px;
        padding-left: 20px;
      }
    }
  }
  &__main {
  height: auto;
  width: calc(100% - 300px);
  float: right;
  background-color: #eeeeee;
  position: relative;
  border-bottom: 1px solid;
  border-color: #eeeeee;
  padding-bottom: 90px;
    &__ajax {
      height: 100%;
      width: 100%;
      &__messagebox {
      padding-left: 40px;
      padding-top: 46px;
        list-style: none;
        .user_name {
          font-size: 16px;
          color: $black;
          font-weight: bold;
          float: left;
          padding-bottom: 10px;
          padding-right: 10px;
        }
        .date  {
          font-size: 12px;
          color: #999999;
        }
      }
    }
    p {
      font-size: 14px;
      color: $black;
      clear: left;
      padding-bottom: 40px;
      }
    .image {
        height: 100px;
        width: 100px;
        margin: 0 auto;
    }
    &__textbox {
      height: 90px;
      background-color: #aaaaaa;
      width: calc(100% - 300px);
      position: fixed;
      bottom: 0;
      &__cover {
        background-color: white;
        float: left;
        height: 50px;
        width: 75%;
        margin: 20px 0 0 40px;
        .textbox {
          height: 100%;
          float: left;
          width: 90%;
          border: none;
        }
        .image {
          position: absolute;
          font-size: 25px;
          margin: 5px 0 0 15px;
          .button {
            display: none;
          }
        }
      }
      &__btn {
        float: right;
        height: 50px;
        width: 10%;
        margin: 20px 0;
        position: absolute;
        right: 5%;
        .send--button {
          border: none;
          cursor: pointer;
          outline: none;
          background-color: $blue-bg;
          color: $white;
          line-height: 50px;
          padding-left: 20px;
          padding-right: 20px;
          font-size: 16px;
        }
      }
    }
  }
}
